<div class="container">
    <div class="row" id="pe">
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://i.ibb.co/RTPYBFs/error-404-github.gif" class="img-fluid" alt="signo eclamación">
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
            
        <div>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/">
                <button class="btn btn-dark">Regresar</button>
            </a>        
        </div>
    </div>
</div>

