<div class="container">
<app-header ></app-header>
    <img src="https://i.ibb.co/TKDtyqN/header-background.jpg" alt="band" class="styleimg1">
    <img src="https://i.ibb.co/Xj8Sy7r/hernan2.jpg" alt="Profile" class="styleimg2">
  

<div class="container">
    <div class="row" id="pe">
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://i.ibb.co/SrnhK0j/ERROR-404.png" class="img-fluid" alt="error">
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
            
        
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/">
                <button class="btn btn-dark">Regresar</button>
            </a>        
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>
</div>
