
  <h2>Proyectos</h2>
  <app-addbutton *ngIf="login" (click)="abrirModalAgregar()"></app-addbutton>
  <br>
  <br>
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let Pro of proyecto">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="Pro.url" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          
          </div>  
          
          <p class="card-text">{{Pro.titulo}}</p>
          <p class="card-text">{{Pro.descripcion}}</p>
          <div *ngIf="login"  >
            <app-editbutton (click)="abrirModal(Pro.idproyecto)" class="me-2"></app-editbutton>   <app-deletebutton (click)="borrarProyecto(Pro.idproyecto)" ></app-deletebutton>
          </div> 
          <br>

        </div>
      </div>
    </div>



  