<router-outlet></router-outlet>


<!-- Banner (IMG): @Walle > 06/05 12:00*** --> 


<!-- About  @AndresGenaisir > 06/05 12:00***-->
    <!-- Info Personal -->
        <!-- Img Perfil -->
        <!-- Nombre Completo -->
        <!-- Username -->
        <!-- Email -->
    <!-- Información Profesional -->
        <!-- Titulo -->
        <!-- Descripción -->


<!-- Experiencia Laboral @Pablomatias + @MartinGil + @MarioIrastorza > 05/05 20:00***-->
    <!-- N Cards -->
        <!-- Imagen -->
        <!-- Titulo -->
        <!-- Descripción -->
        <!-- Período -->
        <!-- Empresa -->
        <!-- Cargo -->

<!-- Educación -->
    <!-- N Cards -->
        <!-- Imagen -->
        <!-- Titulo -->
        <!-- Descripción -->
        <!-- Período -->
        <!-- Institución -->
        <!-- Link -->

<!-- Skills @JuanManuelGodoy > 06/05 12:00 -->
<!-- N Charts -->
<!-- Titulo -->
<!-- Valor -->
<!-- https://www.npmjs.com/package/ng-circle-progress -->

<!-- - @CamilaGR + @FernandoG + @nanreh1976 > 06/05 12:00-->
    <!-- N Cards -->
        <!-- Img -->
        <!-- Titulo -->
        <!-- Descripcion -->
        <!-- Link -->

<!-- Footer  @FabianG + @Tuti + @Esteban > 06/05 12:00-->
    <!-- Algo? -->
    <!-- Form de contacto? -->
    <!-- Email? -->
    <!-- Redes? -->
<ngx-scrolltop></ngx-scrolltop>