<h1 style="text-align: center;">Hard & Soft Skills</h1>
<br>

<div class="row m-3">
    
   
    <app-addbutton *ngIf="login" (click)="abrirModalAgregar()"></app-addbutton>
      <div *ngFor="let Ski of skill" class="col-2">
        <div class=" d-flex justify-content-center">
            
          <circle-progress
              [percent]="Ski.dominio"
              [radius]="65"
              [subtitle]="Ski.titulo"
              [subtitleColor]="'#000000'"
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#F70401'"
              [innerStrokeColor]="'#5178B3'"
              [animation]="true"
              [animationDuration]="150"
              [responsive]="true"
          ></circle-progress>
        </div>   
        <div align="row">
          <app-editbutton *ngIf="login" (click)="abrirModal(Ski.idskill)" class="d-flex align-items-center"></app-editbutton><br><app-deletebutton  *ngIf="login"(click)="borrarSkill(Ski.idskill)" ></app-deletebutton>
        <div>
          
        </div>
        
        </div>
      </div>
  </div>
