/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    min-height: 100vh;   
    background-position: center;   
    text-align: left;
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), ;
}